@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    background-color:rgb(194, 200, 180);
    
    
}

body {
    font-family: Lato, sans-serif;
    font-weight: 300;
}

/* headings and logos */

h1,h2 {
    font-family:oswald, sans-serif;
    text-transform:capitalize;
    text-align:left;
    color:rgb(214, 125, 23);
    
}

h3,p{
    color:rgb(181, 66, 66);
    font-weight:400;
}

h2{
    text-align:center;
    padding-top: 30px;
}

/*--------------------------------*/
#logo{
    
    margin-top: 30px;
    text-decoration:none;
    
}
.bottleopener{
    padding-top: 20px;
}

/*          Links        */

#links{
    float:left;
    color:rgb(234, 212, 212);
    margin-right:1px;
    letter-spacing:1px;
    margin-top: 25px;
}


#links1{
    text-align: right;
}
#logo, #links{
    line-height: 1px;
    text-decoration: none;
}

#links a{
    text-decoration: none;
    color:rgb(167, 27, 27);
    padding: 5px;
    
}

#links a:hover{
   
    color:blanchedalmond;
}

#logo a:hover{
    color:blanchedalmond;
}
.active{
    border-bottom:1px solid blanchedalmond;
}
/*background images etc*/

.main-img{
    height: auto;
    width: 100%;
    border-radius: 50px;
    margin: 0 auto;
    max-width: 100%;
    
}
/*tools*/

#tools{
    margin: 0 auto;
    text-align: center;
}

#pic{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*videos*/

.video{
    text-align: center;
}

.video iframe{
    margin: 0;
    padding: 0;
    height: 300px;
    width: 350px;
    display: inline;
    border-radius: 25px;
}



/* Classic drinks*/
#classic{
    text-align: center;
}
.container{
    display: inline;
}
/*classic drinks overlay*/

.container {
    position: relative;
    width: 50%;
    height:auto;
  }
  
  .image {
    display: block;
    width: auto;
    height: 320px;
  }
  
  .overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color:rgb(194, 200, 180);
    overflow:hidden;
    width: 100%;
    height: 0;
    transition: .7s ease;
    opacity: .9;
    
  }
  
  .container:hover .overlay {
    bottom: 0;
    height: 100%;
  }
  
  .text {
    color: rgb(122, 4, 4);
    font-weight: 300;
    font-size: 15px;
    position:absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    
  }

/* FOOTER */
footer{
    height: 200px;
    
}

.social{
    text-align: center;
    text-decoration: none;
}

.social > li{
    display: inline;
}

.social i{
    font-size: 220%;
    margin: 1%;
    padding: 5%;
    color: rgb(216, 92, 92);
}

/****** FORM *******/

form{
    margin-top: 10px;
    margin: 0 auto;
    
}

input{
    width: 90%;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom:10px;
    border: none;
    outline: none;
    border: 5px solid gray;
    font-size: 15px;
    border-radius: 100px;
    margin-left: 15px;
    margin-top: 6px;
    background-color:beige;
}

.overlay.form{
    width: 320px;
    height: 400px;
    background-color: #9e1010;
    border-radius: 15px;
    margin-top: 100px;
    margin-left: 65px;
    text-align: center;
    display:inline-block
}

input[type=submit]{
    font-size: 20px;
    margin-top: 30px;
    font-weight: bold;
    background: rgb(128, 65, 65);
    cursor: pointer;
    border: 2px solid black;
}

input[type=submit]:hover{
    background: rgb(163, 23, 23);
}

/******  media queries *******/ 



/*for larger screen sizes from 1200px wide and down*/
@media screen and (max-width: 1200px){
    #tools{
        width: 65%;
        height: 2300px;
        margin: 0 auto;
    }
    #tool{
        padding:30px 0;
        margin: 0 auto; 
    }
    h2{
        padding-bottom: 30px;
        padding-top: 30px;
    }
    
}

/* for medium screen sizes from 950px wide and down*/
@media screen and(max-width: 950px){
    #links{
        clear: right;
        float: right;
        margin-left: 30px;
        margin-bottom: 25px;
        line-height: 25px;
        font-size: 18px;
    }
    #main-image{
        width: 90%;
        height: 1200px;
        margin: 0 auto;
    }
    #glasses{
        width: 90%;
        margin: 0;
    }
    #tools{
        padding: 30px;
        width: 90%;
    }
  
    .mixing{
        margin-left: 30px;
    }
    #videos{
        display:flex;
        justify-content: space-around;
        
        
    }
   
    .howto{
        padding: 30px 0;
        margin: 0 auto;
    }
    
}
    
/* for small screen's sizes from 640px wide and down */

@media screen and (max-width:640px) {
    #logo{
        font-size: 20px;
    }
    #links{
        font-size: 16px;
    }
    h2{
        font-size: 20px;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 40px;
        padding: 50px;
        padding-bottom: 20px;
    }
    #video{
        align-items: center;
        margin: 0 auto;
        padding-right: 20px;
    }
    
}